$primary: #aac7b4; 
@import '~bootstrap/scss/bootstrap';

.card-img-top {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

#plus {
  font-size: 1.5rem;
}

#show-answer-input {
  padding-left: 0;
}

#btn-create-answer,
#btn-create-quiz,
#btn-save-question {
  font-size: 1.3rem;
}

body {
  margin: 0;
/*   background-color: #d7e0da; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.username {
  font-style: italic;
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: #578a69;
}