$primary: #aac7b4; 
@import '~bootstrap/scss/bootstrap';

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

body {
  margin: 0;
/*   background-color: #d7e0da; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

